USE [master]
GO
/****** Object:  Database [DataUser]    Script Date: 17/05/2026 9:11:50 CH ******/
CREATE DATABASE [DataUser]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataUser', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DataUser.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataUser_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\DataUser_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataUser].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataUser]
GO
/****** Object:  Table [dbo].[DataLoginForm]    Script Date: 17/05/2026 9:11:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataLoginForm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleName] [varchar](20) NULL,
	[IsApproved] [bit] NULL,
	[LoginAttempts] [int] NULL,
	[IsLocked] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 17/05/2026 9:11:50 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[MSSV] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](50) NULL,
	[Dob] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[HomeTown] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
	[Picture] [varbinary](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ('User') FOR [RoleName]
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ((0)) FOR [LoginAttempts]
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ((0)) FOR [IsLocked]
GO
USE [master]
GO
