CREATE DATABASE DataUser
GO

USE [DataUser]
GO
/****** Object:  Table [dbo].[DataLoginForm]    Script Date: 11/05/2026 8:42:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataLoginForm](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[RoleName] [varchar](20) NULL,
	[IsApproved] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 11/05/2026 8:42:11 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[MSSV] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](50) NULL,
	[Dob] [date] NULL,
	[Gender] [nvarchar](10) NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[HomeTown] [nvarchar](200) NULL,
	[Email] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MSSV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataLoginForm] ON 

INSERT [dbo].[DataLoginForm] ([ID], [UserName], [Password], [RoleName], [IsApproved]) VALUES (1, N'admin', N'123', N'Admin', 1)
INSERT [dbo].[DataLoginForm] ([ID], [UserName], [Password], [RoleName], [IsApproved]) VALUES (2, N'qq', N'123', N'Admin', 1)
INSERT [dbo].[DataLoginForm] ([ID], [UserName], [Password], [RoleName], [IsApproved]) VALUES (3, N'admin1', N'123', N'Admin', 1)
SET IDENTITY_INSERT [dbo].[DataLoginForm] OFF
GO
INSERT [dbo].[Student] ([MSSV], [FirstName], [LastName], [Dob], [Gender], [Phone], [Address], [HomeTown], [Email]) VALUES (N'123', N'P111111111', N'11111111', CAST(N'2026-05-11' AS Date), N'Nam', N'111111', N'11111111', N'1111111111111', N'1111111111')
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ('User') FOR [RoleName]
GO
ALTER TABLE [dbo].[DataLoginForm] ADD  DEFAULT ((0)) FOR [IsApproved]
GO
